# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\SpringFrameworkL25Postgres\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
